.accent-word:hover {
  text-decoration-color: var(--main-text-color);
}

.decorated-element::before {
  color: var(--accent-color);
  content: "REC";
  position: absolute;
  display: inline-block;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 400;
}

.decorated-element::after {
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  fill: var(--accent-color);
  width: 9px;
  height: 9px;
}
