/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --light-color: #FFF1F7;
  --title-color-light: #FFC2E6;
  --accent-color-light:#FF8DCB ;
  --main-text-color-light:#353430; 
  --main-font: 'IBM Plex Mono'; 
}

@media (prefers-color-scheme: light) {

  :root {
    --light-color: #FFF1F7;
    --title-color-light: #FFC2E6;
    --accent-color-light:#FF8DCB ;
    --main-text-color-light:#353430; 
    --main-font: 'IBM Plex Mono';    

  }

  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: var(--light-color);
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--accent-color-light);

  } 

  a:focus {
    outline: 1px solid var(--main-text-color-light);

  }

  button:hover {
    outline: 1px solid var(--accent-color-light);

  }

  button:focus {
    outline: none;
    text-decoration: underline;

  }
  
  .header__theme-menu-button_type_dark {
    outline: none;

  }
  
  .content__content-section,
  .footer {
     background-color: var(--light-color);

  }  
  
  .header__theme-menu-button_type_light {
    outline: 1px solid var(--main-text-color-light);
    width: 74px;
    height: 26px;
  }


  .content__title {
    color: var(--main-text-color-light);

  }

  .content__list-item_type_paragraph-header {
    background-color: var(--accent-color-light);
    color: var(--main-text-color-light);
    font-family: var(--main-font);

  }

  .content__paragraph {
    color: var(--main-text-color-light);

  }

  .header__theme-menu-button {
    color: var(--main-text-color-light);

  }

  .header__title {
    text-shadow: 4px 4px 0px var(--accent-color-light);
    color: var(--title-color-light);

  }

  .header__content-paragraph {
    background-color: var(--accent-color-light);
    color: var(--main-text-color-light);

  }
  
  .content__list-item_type_list-header {
    background-color: var(--accent-color-light);
    color: var(--main-text-color-light);

  }

  .accent-word { 
    text-shadow: 2px 2px 0px var(--accent-color-light);

  }
  
  .footer__title {
    text-shadow: 4px 4px 0px var(--accent-color-light);
    color: var(--title-color-light);

  }   

  /* .footer::before,
  .footer::after,
  .header::before, 
  .header::after {
    color: var(--main-text-color-light);
  } */

  .footer::before {
    content: ""; 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    bottom: 0;
    right: 0;
    border-top: 1px solid var(--main-text-color-light);
    border-left: 1px solid var(--main-text-color-light);
  }

  .footer::after {
    content: ""; 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    bottom: 0;
    right: 0;
    border-right: 1px solid var(--main-text-color-light);
    border-bottom: 1px solid var(--main-text-color-light);
  }

  .header::before {
    content: ""; 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    right: 0;
    border-top: 1px solid var(--main-text-color-light);
    border-right: 1px solid var(--main-text-color-light);
  }
  
  .header::after {
    content: ""; 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    bottom: 0;
    right: 0;
    border-left: 1px solid var(--main-text-color-light);
    border-bottom: 1px solid var(--main-text-color-light);
  }
  

  .decorated-element::before, 
  .decorated-element::after {
    display: none;
  }

}

