/* 
  Переменные для вашего проекта 
  и их переопределение под различные устройства 
*/

:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --main-font: "IBM Plex Mono";
}

@media (max-width: 767px) {
  .page {
    background-size: 215vw 668px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 0 10px 0 10px;
  }

  .header {
    min-height: 668px;
  }

  .header::before {
    top: 10px !important;
    right: 10px !important;
  }

  .header::after {
    left: 10px !important;
    bottom: 10px !important;
  }

  .decorated-element::before {
    top: 12px !important;
    right: 38px !important;
  }

  .decorated-element::after {
    top: 20px !important;
    right: 20px !important;
  }

  .header__theme-menu-list {
    justify-content: center;
    flex-direction: column;
  }

  .header__theme-menu {
    justify-content: flex-end;
    padding: 76.5px 10px 66.5px 308px;
  }

  .header__content-paragraph {
    display: block !important;
    margin: 55px 10px 66px 10px;
  }

  .content__text-block_type_first,
  .content__text-block_type_second,
  .content__text-block_type_third {
    padding: 0 10px;
    display: block !important;
  }

  .title-text-block_type_first {
    margin-block-start: 40px;
    padding: 0 !important;
  }

  .title-text-block_type_second,
  .title-text-block_type_third {
    margin-block-start: 50px;
    padding: 0 !important;
  }

  .title-text-block_type_image-block {
    margin-block-start: 50px;
    margin-bottom: 10px;
  }

  .content__image-block {
    /* padding: 0px 10px 0px 10px; */
    padding: 0px 10px !important;
  }

  .content__list-item_type_paragraph-header {
    /* margin-block-start: 20px;
    margin-bottom: 10px; */
    margin: 20px 0px 10px 0px;
  }

  .content__list-item_type_list-header {
    /* margin-block-start: 20px;
    margin-bottom: 10px; */
    margin: 20px 0px 10px 0px;
  }

  /* .content__picture {
    max-width: calc(100vw - 20px);
  } */

  .container-image {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    padding: 0px 0px 40px 0px !important;
  }

  .footer {
    min-height: 667px;
  }

  .footer__title {
    font-size: 115px;
  }

  .footer::before {
    top: 10px !important;
    right: 10px !important;
  }

  .footer::after {
    left: 10px !important;
    bottom: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page {
    background-size: 215vw 1024px;
  }

  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    justify-content: flex-end;
    padding: 193.5px 20px 174.5px 691px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  /* .header__theme-menu-button {
    height: 26px;
    width: 70px;
  } */

  .header__content-paragraph {
    width: 364px;
    /* display: flex;
    flex-direction: column; */
    margin-left: calc(100vw - 384px);
  }

  .header__title {
    padding-bottom: 107px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__text-block_type_first {
    display: flex;
    gap: 20px;
    padding: 40px 20px 60px 20px;
  }

  .content__paragraph {
    padding-top: 9.95px;
  }

  .content__title {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 236px;
    min-height: 70px;
    /* flex-shrink: 0; */
  }

  .content__list-item_type_paragraph-header {
    margin-block-start: 20px;
  }

  .block_type_second {
    width: 236px;
  }

  .content__text-block_type_second {
    padding: 0px 20px 60px 20px;
  }

  .content__text-block_type_third {
    /* display: flex;
    gap: 20px; */
    padding: 0px 20px 79px 20px;
  }

  .block_type_third {
    /* не влияет на верстку
    width: 236px; */
  }

  .content__list-item_type_list-header {
    margin-block-start: 20px;
  }

  /* .title-text-block_type_image-block {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
  } */

  /* .content__image-block {
    padding: 0px 20px;
  } */

  /* .content__picture {
    object-fit: cover; */
    /* max-width: 100%;
    min-height: 100%; */
  /* } */

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    font-size: 120px;
    margin-top: 60px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .page {
    background-size: 120vw auto;
  }

  /* .header__theme-menu-button {
    height: 26px;
    width: 70px;
  } */

  .header__theme-menu-list {
    justify-content: center;
    gap: 13px !important;
    flex-direction: row;
  }

  .header__theme-menu {
    justify-content: center;
    padding-top: 19px;
  }

  .header__content-paragraph {
    width: 491px;
    /* display: flex;
    flex-direction: column; */
    margin-left: calc(100vw - 511px);
  }

  .header__title {
    margin-bottom: 114px !important;
    margin-top: 274.5px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__text-block_type_first {
    display: flex;
    gap: 19.93px;
    padding: 0px 20px 60px 20px;
    margin-top: 60px;
  }

  .content__text-block_type_second {
    padding: 0 20px;
  }

  .content__paragraph {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .content__title {
    width: 315px;
    min-height: 47px;
    /* flex-shrink: 0; */
  }

  .content__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 60px;
    margin-top: 20px;
  }

  .content__text-block_type_third {
    /* display: flex;
    gap: 20px; */
    padding: 0px 20px 59px 20px;
  }

  .block_type_third {
    /* не влияет на верстку */
    /* width: 236px; */
    
  }

  .paragraph-header-type_third {
    margin-bottom: 20px;
  }

  /* .content__image-block {
    padding: 0px 20px;
  } */

  /* .title-text-block_type_image-block {
    font-size: 18px;
  } */

  .container-image {
    padding-top: 18px !important;
  }

  /* .content__picture { */
    /* object-fit: cover; */
    /* max-width: 100%;
    min-height: 100%; */
  /* } */

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: 157px;
  }
}
